@media only screen and (width: 360px) {
  * {
    margin: 0;
  }

  .container-cart {
    width: 360px;
    height: 700px;
    background-color: gainsboro;
    font-family: sans-serif;
  }

  .container-cart h2 {
    text-align: center;
    color: white;
    text-shadow: 0 0 0.1em black, 0 0 0.2em white;
  }

  .container-cart button {
    margin-left: 32%;
    margin-top: 20px;
  }

  .user-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .div-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 190px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid black;
    border: 2px solid red;
  }

  .div-cart img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: 2px solid red;
  }

  .div-cart p {
    margin-top: 20px;
    border: 2px solid red;
  }

  .div-cart h4 {
    margin-top: 10px;
    border: 2px solid red;
  }

  .button-excluir {
    width: 100px;
    height: 30px;
    text-align: center;
    margin-right: 30px;
    margin: 0px;
    border: 2px solid red;
  }
}
