* {
  margin: 0;
}

body {
  background-color: rgb(134, 160, 134);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 3px solid black;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: -4px;
}

.container-every {
  margin-top: 90px;
}

.logo-header {
  width: 250px;
  height: 80px;
  margin-left: 30px;
}

.container-logo {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  width: 150px;
}

.cart-logo {
  width: 30px;
  cursor: pointer;
}

.logo-user {
  width: 30px;
  cursor: pointer;
}

.logo-phone {
  width: 30px;
  cursor: pointer;
}

.logo-search {
  position: absolute;
  width: 30px;
  cursor: pointer;
  left: 1070px;
}

.header input {
  height: 30px;
  width: 500px;
  font-size: 17pt;
}

.child-header {
  display: flex;
  justify-content: space-evenly;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  background-color: white;
}

.child-header a {
  text-decoration: none;
  font-size: 15pt;
  color: black;
}

.child-header a:hover {
  transform: scale(1.2);
}

.logo-menu {
  position: absolute;
  top: 105px;
  left: 20px;
  width: 30px;
  cursor: pointer;
}

.show-image {
  width: 100%;
  height: 420px;
  position: relative;
}

.show-image img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid black;
  box-shadow: 2px 2px 4px black;
}

.show-image img.show {
  opacity: 1;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 305px;
}

.aside {
  margin-top: 30px;
  width: 350px;
}

.container-aside-section {
  display: flex;
}

.aside a {
  text-decoration: none;
  font-size: 18pt;
  color: black;
  margin-left: 10px;
  padding-bottom: 20px;
  width: 500px;
}

.aside a:hover {
  font-size: 20pt;
  font-weight: 600;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 2px solid rgb(68, 67, 67);
  background-color: white;
}

.iten-product {
  margin: 15px;
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
  width: 250px;
  height: 380px;
  margin-top: 35px;
}

.iten-product p {
  text-align: center;
  font-size: 15pt;
  height: 50px;
  background-color: gainsboro;
}

.iten-product h4 {
  text-align: center;
  font-size: 25pt;
  color: rgb(70, 161, 70);
  margin-bottom: 20px;
}

.iten-product button {
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
  background-color: rgb(134, 160, 134);
  color: white;
  padding: 20px 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 0px;
}

.iten-product button:hover {
  background-color: rgb(151, 161, 151);
}

.iten-product img {
  width: 250px;
  height: 200px;
}

.iten-product img:hover {
  width: 250px;
  height: 250px;
}

.container-footer {
  height: 400px;
  background-color: rgb(165, 164, 164);
}

.container-footer p {
  text-align: center;
  margin-top: 300px;
  font-size: 15pt;
  color: black;
}

.icons-footer {
  margin-left: 1150px;
}

.icons-footer img {
  width: 40px;
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
}

.container-length-cart {
  position: absolute;
  top: 15px;
  left: 1355px;
}

.length-cart {
  background-color: rgb(165, 164, 164);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

@media only screen and (width: 360px) {
  .container-every {
    width: 360px;
  }
  .header {
    flex-direction: column;
    width: 360px;
  }

  .header input {
    width: 250px;
  }

  .logo-search {
    top: 85px;
    left: 315px;
  }
  .logo-header {
    margin-left: 10px;
  }

  .container-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 350px;
  }

  .logo-menu {
    position: fixed;
    left: 20px;
    top: 133px;
    z-index: 1254;
  }

  .child-header {
    position: absolute;
    top: 300px;
    width: 360px;
    left: 100px;
    z-index: 55555;
    display: none;
  }

  .container-logo {
    margin-left: 200px;
  }

  .show-image {
    position: relative;
    width: 360px;
    top: 105px;
    height: 200px;
  }

  .show-image img {
    position: absolute;
    width: 100%;
    top: 400px;
    object-fit: fill;
    margin-top: -400px;
  }

  .container-aside-section {
    display: block;
    margin-top: 120px;
    width: 360px;
  }

  .iten-product {
    flex-direction: row;
    width: 130px;
    height: 337px;
  }

  .iten-product img {
    width: 130px;
    height: 120px;
  }

  .iten-product h4 {
    height: 77px;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    top: -500px;
  }

  .aside a {
    text-align: center;
    padding: 10px;
    width: 140px;
    height: 40px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 2px black;
  }

  .container-footer {
    width: 360px;
  }

  .icons-footer {
    width: 200px;
    position: relative;
    left: -1050px;
  }

  .icons-footer img {
    cursor: pointer;
  }

  .container-footer p {
    margin-top: 170px;
  }
}

@media only screen and (width: 384px) {
  .container-every {
    width: 384px;
  }
  .header {
    flex-direction: column;
    width: 384px;
  }

  .header input {
    width: 250px;
  }

  .logo-search {
    top: 85px;
    left: 335px;
  }
  .logo-header {
    margin-left: 10px;
  }

  .container-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 370px;
  }

  .logo-menu {
    position: fixed;
    left: 20px;
    top: 133px;
    z-index: 1254;
  }

  .child-header {
    position: absolute;
    top: 300px;
    width: 384px;
    left: 100px;
    z-index: 55555;
    display: none;
  }

  .container-logo {
    margin-left: 200px;
  }

  .show-image {
    position: relative;
    width: 384px;
    top: 105px;
    height: 200px;
  }

  .show-image img {
    position: absolute;
    width: 100%;
    top: 400px;
    object-fit: fill;
    margin-top: -400px;
  }

  .container-aside-section {
    display: block;
    margin-top: 120px;
    width: 384px;
  }

  .iten-product {
    flex-direction: row;
    width: 135px;
    height: 337px;
  }

  .iten-product img {
    width: 135px;
    height: 120px;
  }

  .iten-product h4 {
    height: 77px;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    top: -500px;
  }

  .aside a {
    text-align: center;
    padding: 10px;
    width: 140px;
    height: 40px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 2px black;
  }

  .container-footer {
    width: 384px;
  }

  .icons-footer {
    width: 200px;
    position: relative;
    left: -1050px;
  }

  .icons-footer img {
    cursor: pointer;
  }

  .container-footer p {
    margin-top: 170px;
  }
}

@media only screen and (width: 412px) {
  .container-every {
    width: 412px;
  }
  .header {
    flex-direction: column;
    width: 412px;
  }

  .header input {
    width: 250px;
  }

  .logo-search {
    top: 85px;
    left: 350px;
  }
  .logo-header {
    margin-left: 10px;
  }

  .container-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 370px;
  }

  .logo-menu {
    position: fixed;
    left: 20px;
    top: 133px;
    z-index: 1254;
  }

  .child-header {
    position: absolute;
    top: 300px;
    width: 412px;
    left: 100px;
    z-index: 55555;
    display: none;
  }

  .container-logo {
    margin-left: 200px;
  }

  .show-image {
    position: relative;
    width: 412px;
    top: 105px;
    height: 200px;
  }

  .show-image img {
    position: absolute;
    width: 100%;
    top: 400px;
    object-fit: fill;
    margin-top: -400px;
  }

  .container-aside-section {
    display: block;
    margin-top: 120px;
    width: 412px;
  }

  .iten-product {
    flex-direction: row;
    width: 150px;
    height: 337px;
  }

  .iten-product img {
    width: 150px;
    height: 120px;
  }

  .iten-product h4 {
    height: 77px;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    top: -500px;
    margin-left: 20px;
  }

  .aside a {
    text-align: center;
    padding: 10px;
    width: 140px;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 10px;
    box-shadow: 1px 1px 2px black;
  }

  .container-footer {
    width: 412px;
  }

  .icons-footer {
    width: 200px;
    position: relative;
    left: -1030px;
  }

  .icons-footer img {
    cursor: pointer;
  }

  .container-footer p {
    margin-top: 170px;
  }
}
